*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    font-size: 16px;
}
header{
    background: hsl(245, 75%, 52%);
    padding: 20px;
    color: #FFFFFF;
}

form{
    padding: 20px;
    text-align: center;
}
input, button{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
}
form input, form button{
    padding: 10px;
    font-size: 16px;
}
form input{
    border: 1px solid grey;
    width: 50%;
}
ul{
    padding: 50px;
    width: 70%;
    margin: 0px auto;
}
ul li{
    margin-bottom: 10px;
    display: flex;
}
ul li p{
    flex: 2;
}
ul li button{
    padding: 10px 20px;
    margin-left: 20px;
}
.completed{
    text-decoration: line-through;
}